# Global Function
/Assets/02.\ Scripts/Global\ Function/SceneMover.cs @MultiDCP
/Assets/02.\ Scripts/Global\ Function/VibrateControl.cs @MultiDCP

# Interface


# Lobby Scene
/Assets/02.\ Scripts/Lobby/* @MultiDCP

# Nanta Scene
/Assets/02.\ Scripts/Nanta/* @EunhoKang

# Dance Scene
/Assets/02.\ Scripts/Dance/* @MultiDCP

# Gallery Scene

# User Data
/Assets/02.\ Scripts/UserData/* @Junhyung-Choi

# Miscellaneous Scripts
/Assets/02.\ Scripts/Prefab/UISelector.cs @MultiDCP

# Contact
@EunhoKang zay0njugin@gmail.com
@MultiDCP psmdc0714@gmail.com
@Junhyung-Choi junhyung9571@naver.com
