# Global Function
/Assets/02.\ Scripts/Global\ Function/Action.cs @EunhoKang
/Assets/02.\ Scripts/Global\ Function/GameChart.cs @EunhoKang
/Assets/02.\ Scripts/Global\ Function/MusicContentTool.cs @EunhoKang
/Assets/02.\ Scripts/Global\ Function/Note.cs @EunhoKang
/Assets/02.\ Scripts/Global\ Function/SceneMover.cs @MultiDCP
/Assets/02.\ Scripts/Global\ Function/SoundManager.cs @EunhoKang
/Assets/02.\ Scripts/Global\ Function/VibrateControl.cs @MultiDCP
/Assets/02.\ Scripts/Global\ Function/UserData.cs @Junhyung-Choi
/Assets/02.\ Scripts/Global\ Function/UserDataManager.cs @Junhyung-Choi
/Assets/02.\ Scripts/Global\ Function/RecordInfo.cs @Junhyung-Choi


# Interface
/Assets/02.\ Scripts/Interface/IScenario.cs @EunhoKang

# Lobby Scene
/Assets/02.\ Scripts/Lobby/* @MultiDCP

# Nanta Scene
/Assets/02.\ Scripts/Nanta/* @EunhoKang

# Dance Scene
/Assets/02.\ Scripts/Dance/* @MultiDCP

# User Data & Gallery Scene
/Assets/02.\ Scripts/UserData/* @Junhyung-Choi

# Miscellaneous Scripts
/Assets/02.\ Scripts/Prefab/UISelector.cs @MultiDCP

# Contact
@EunhoKang zay0njugin@gmail.com
@MultiDCP psmdc0714@gmail.com
@Junhyung-Choi junhyung9571@naver.com
